html, body{
    margin: 0;
    padding: 0;background-color: rgb(207,209,221) ;

}

.container-fluid {
    margin: 0!important;
    padding: 0!important;
}

.row {
  margin: 0!important;
}

#myNavbar{
 
  min-height: 50px;
  background: #22313f !important;
  opacity: 0.8;
  padding: 0!important;
  transition: .5s ease;
}

.navbar-toggler{
  outline: none !important;
  border: none !important;
  margin-top: 6px!important;
}

#navbarResponsive > ul {
  min-height: 50px;
}
#myNavbar2{
 
  min-height: 50px;
  background: #22313f!important;
  opacity: 0.8;
  display: inline-block;
  width: 100%;
  padding-right: 85vh;
  transition: .5s ease;
}


.nav-link {
  color: #FFF!important;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  padding: 0 15px !important;
  

  
}

.nav-item:hover{
  background: rgba(255, 255, 255, 0.3)!important;
}

#zaglavlje{
    height: 50vh;
    width: 100%;
    background: url('../img/pice3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

#iscezavanjek {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, transparent 0%, white 100%);
}

#glavni{
    background-color: rgb(207,209,221);
    min-height: 100vh;
}

.boja1{
        background-color: #22313f ;
        height: 100%;
        width: 100%;
        padding-left: 10px !important;
        padding-right: 10px !important;

}
.boja2{
        background-color: whitesmoke;
        width: 100%;
}
.glavni_container{
        margin-left: 30%;
}
h2{
color: gray;
padding-bottom: 10%;
padding-left: 10%;
padding-top: 4%;
}    
.card{
    width: 100%;
    padding-left: 10% !important;
    padding-right: 10% !important;
    
}

#ikona{
    font-size: 50px;
}
.bt{
    padding-right: 1900px !important;
}
#myNavbar1{
 
    min-height: 50px;
    background:  #22313f!important;
    border-radius: 8px;
    padding: 0!important;
  }
  .boja1{
      border-color: black;
      border-radius: 10px;
  }

  .card{
      border-radius: 10px;
      background-color:  rgb(207,209,221);
  }
.table{
    background-color: #22313f;
    
}