body
{
 margin: 0;
 padding: 0;
 background: url(../img/pice4.jpg);
 background-size: cover;
 font-family: sans-serif;
}

.naslov 
{
    text-align: center;
    padding: 50px 0 20px;

}
.naslov h1
{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;

}
.kontenjer
{
    width: 70%;
    height: 900px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 30px 80px rgba(0,0,0,.5);
    opacity: .8;
    
}
.kontenjer .left
{
    float: left;
    width: 50%;
    height: 900px;
    background: url(../img/pice3.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.kontenjer .right
{
    float: right;
    width: 50%;
    height: 900px;
    box-sizing: border-box;

}
.okvir 
{
    width: 100%;
    padding: 40px 40px;
    box-sizing: border-box;
    height: 900px;
    background: #fff;
}
.okvir p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #22313f;

}
.okvir input
{
    width: 100%;
    margin-bottom: 10px;
}
.okvir input[type="text"],
.okvir input[type="password"]
{
    width: 100%;
    border: none;
    border-bottom: 2px solid #22313f;
    outline: none;
    height: 30px;
}

.okvir input[type="text"]:focus,
.okvir input[type="password"]:focus
{
      border-bottom: 2px solid #262626;

}
.okvir input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
}
.okvir input[type="submit"]:hover
{
    background: #22313f

}
.okvir a 
{
    color: #262626;
    font-size: 12px;
    font-weight: bold;
    
}
.okvir input[type="radio"]
{
  text-align: center;
  width: 100px;
}
.okvir input[type="checkbox"]
{
      width: 100px;
     float: right 200px;
}
